@tailwind base;
@tailwind components;
@tailwind utilities;
/* */
@font-face {
  font-family: 'Anton Regular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../font/Anton-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Majesty Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Majesty-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Roboto-Bold.ttf) format("opentype");
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../font/Roboto-Light.ttf) format("opentype");
}
/* */
@keyframes neon1 {
  0% {
    text-shadow:
      0 0 0px #ff1177;
  }
  100% {
    text-shadow:
      0 0 35px #ff1177;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow:
      0 0 35px #ff1177, 0 0 40px #ff1177;
  }
}
@keyframes neon2{
  0%{filter:drop-shadow(0 0 10px #ff1177) drop-shadow(0 0 20px #ff1177) ;opacity:.85}
  45%{filter:drop-shadow(0 0 20px #ff1177) drop-shadow(0 0 20px #ff1177) ;opacity:.85}
  50%{filter:drop-shadow(0 0 10px #ff1177) drop-shadow(0 0 20px #ff1177) ;opacity:1}
  55%{filter:drop-shadow(0 0 30px #ff1177) drop-shadow(0 0 20px #ff1177) ;opacity:.85}to{filter:drop-shadow(0 0 10px #ff1177) drop-shadow(0 0 20px #ff1177);opacity:.8}
}
@keyframes letter{
  0%{filter:drop-shadow(0 0 10px #21c4fa) drop-shadow(0 0 20px #21c4fa) ;opacity:.85}
  45%{filter:drop-shadow(0 0 20px #21c4fa) drop-shadow(0 0 20px #21c4fa) ;opacity:.85}
  50%{filter:drop-shadow(0 0 10px #21c4fa) drop-shadow(0 0 20px #21c4fa) ;opacity:1}
  55%{filter:drop-shadow(0 0 30px #21c4fa) drop-shadow(0 0 20px #21c4fa) ;opacity:.85}to{filter:drop-shadow(0 0 10px #21c4fa) drop-shadow(0 0 20px #21c4fa);opacity:.8}
}
@keyframes switch {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
/* */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.wrapper h1.glitch {
  color: white;
  position: relative;
  padding: 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "Origin";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 #FF00FF;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 #00FFFF;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(15px, 350px, 44px, 30px);
  }
  5% {
    clip: rect(106px, 350px, 6px, 30px);
  }
  10% {
    clip: rect(110px, 350px, 114px, 30px);
  }
  15% {
    clip: rect(27px, 350px, 119px, 30px);
  }
  20% {
    clip: rect(133px, 350px, 22px, 30px);
  }
  25% {
    clip: rect(63px, 350px, 58px, 30px);
  }
  30% {
    clip: rect(128px, 350px, 53px, 30px);
  }
  35% {
    clip: rect(14px, 350px, 109px, 30px);
  }
  40% {
    clip: rect(11px, 350px, 99px, 30px);
  }
  45% {
    clip: rect(25px, 350px, 119px, 30px);
  }
  50% {
    clip: rect(24px, 350px, 83px, 30px);
  }
  55% {
    clip: rect(83px, 350px, 106px, 30px);
  }
  60% {
    clip: rect(62px, 350px, 49px, 30px);
  }
  65% {
    clip: rect(55px, 350px, 71px, 30px);
  }
  70% {
    clip: rect(64px, 350px, 4px, 30px);
  }
  75% {
    clip: rect(54px, 350px, 36px, 30px);
  }
  80% {
    clip: rect(48px, 350px, 90px, 30px);
  }
  85% {
    clip: rect(53px, 350px, 27px, 30px);
  }
  90% {
    clip: rect(20px, 350px, 5px, 30px);
  }
  95% {
    clip: rect(141px, 350px, 13px, 30px);
  }
  100% {
    clip: rect(114px, 350px, 59px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(101px, 350px, 114px, 30px);
  }
  5% {
    clip: rect(34px, 350px, 93px, 30px);
  }
  10% {
    clip: rect(147px, 350px, 94px, 30px);
  }
  15% {
    clip: rect(147px, 350px, 28px, 30px);
  }
  20% {
    clip: rect(110px, 350px, 92px, 30px);
  }
  25% {
    clip: rect(138px, 350px, 60px, 30px);
  }
  30% {
    clip: rect(51px, 350px, 117px, 30px);
  }
  35% {
    clip: rect(22px, 350px, 22px, 30px);
  }
  40% {
    clip: rect(39px, 350px, 100px, 30px);
  }
  45% {
    clip: rect(140px, 350px, 142px, 30px);
  }
  50% {
    clip: rect(28px, 350px, 22px, 30px);
  }
  55% {
    clip: rect(96px, 350px, 55px, 30px);
  }
  60% {
    clip: rect(74px, 350px, 136px, 30px);
  }
  65% {
    clip: rect(90px, 350px, 55px, 30px);
  }
  70% {
    clip: rect(53px, 350px, 22px, 30px);
  }
  75% {
    clip: rect(51px, 350px, 86px, 30px);
  }
  80% {
    clip: rect(32px, 350px, 96px, 30px);
  }
  85% {
    clip: rect(10px, 350px, 113px, 30px);
  }
  90% {
    clip: rect(26px, 350px, 75px, 30px);
  }
  95% {
    clip: rect(76px, 350px, 146px, 30px);
  }
  100% {
    clip: rect(108px, 350px, 122px, 30px);
  }
}



.bigger-top {
  margin: 0;
  padding: 0px 20px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.bigger-bottom {
  margin: 0;
  padding: 0px 20px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.has-animation {
  position: relative;
}
.has-animation:before, .has-animation:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.has-animation:after {
  background-color: #dddddd;
  animation-delay: 0.5s;
}
.has-animation.animation-ltr:before {
  animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr:after {
  animation: revealLTR 1s 0.6s ease;
}
.has-animation.animation-ltr-bt:before {
  animation: revealLTR 2.4s ease;
}
.has-animation.animation-ltr-bt:after {
  animation: revealLTR 1s 1.2s ease;
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
